.heroBackground {
  width: 100%;
  height: 109px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-black);
}
.imgIcon {
  height: 1374px;
  width: 1645px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: normal;
  max-width: 115%;
}
.button:hover,
.img {
  box-sizing: border-box;
}
.img {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  max-width: 100%;
}
.aboutSubtitle,
.aboutTitle {
  position: relative;
}
.aboutSubtitle {
  margin: 0;
  height: 36px;
  font-size: var(--font-size-31xl);
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
  flex-shrink: 0;
}
.text {
  margin: 0 !important;
  position: absolute;
  top: 70px;
  left: calc(50% - 136.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  z-index: 1;
}
.iconScissors {
  width: 62px;
  height: 94px;
  position: relative;
}
.serviceNames {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.cortesModernosE {
  margin: 0;
}
.serviceDetails {
  width: 404px;
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 122%;
}
.card1 {
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-29xl) 0 var(--padding-17xl);
  gap: var(--gap-lgi);
  max-width: 100%;
}
.iconRazor {
  width: 123px;
  flex: 1;
  max-height: 100%;
}
.iconRazor,
.text1,
.text2 {
  position: relative;
}
.text1 {
  width: 238px;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.text2 {
  align-self: stretch;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card2 {
  height: 337px;
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-21xl) var(--padding-smi);
  gap: var(--gap-lgi);
  max-width: 100%;
  text-align: center;
}
.iconBeard {
  width: 91px;
  height: 79px;
  position: relative;
}
.eFortalecem {
  margin: 0;
  white-space: pre-wrap;
}
.text21 {
  width: 455px;
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 137%;
}
.card3 {
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-51xl) 0 var(--padding-39xl);
  gap: var(--gap-lgi);
  max-width: 100%;
}
.iconUstache {
  width: 107px;
  height: 31px;
  position: relative;
}
.text22 {
  align-self: stretch;
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card4 {
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-85xl) var(--padding-6xl) var(--padding-24xl);
  gap: var(--gap-lgi);
  max-width: 100%;
}
.cards,
.exploreMais {
  color: var(--color-white);
}
.cards {
  width: 724px;
  margin: 0 !important;
  position: absolute;
  top: 252.1px;
  left: 358px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 50px 46px;
  min-height: 724px;
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-5xl);
}
.exploreMais {
  height: 15px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 2px solid var(--color-white);
  padding: var(--padding-mini) var(--padding-mini) var(--padding-mini)
    var(--padding-xl);
  background-color: transparent;
  width: 187px;
  height: 50px;
  margin: 0 !important;
  position: absolute;
  top: 1084.1px;
  left: 627px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.button:hover {
  background-color: var(--color-gainsboro-300);
  border: 2px solid var(--color-gainsboro-100);
}
.counter,
.services {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.services {
  height: 1219px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-darkgray);
  font-family: var(--font-inter);
}
.counter {
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-41xl) var(--padding-128xl);
  gap: var(--gap-xl);
}
.testimonialTitle,
.text23 {
  position: relative;
  font-weight: 500;
}
.text23 {
  margin: 0;
  height: 36px;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.testimonialSubtitle,
.testimonials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 144px 0 var(--padding-123xl);
  font-size: var(--font-size-31xl);
}
.testimonials {
  flex-direction: column;
  padding: var(--padding-128xl) 95px var(--padding-131xl) 821px;
  gap: var(--gap-smi);
  background-image: url(/public/testimonials@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.text13 {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.text4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.cards1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  gap: var(--gap-56xl);
}
.lineIcon,
.text3 {
  align-self: stretch;
  max-width: 100%;
}
.text3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.lineIcon {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.divider {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-5xs);
}
.copyright {
  position: relative;
  font-size: var(--font-size-mid);
}
.footer,
.homePageLogoClienteEFont {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-41xl) var(--padding-53xl);
  gap: var(--gap-16xl);
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.homePageLogoClienteEFont {
  width: 100%;
  height: 4580px;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-21xl) 0 var(--padding-414xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .cards1 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1125px) {
  .counter {
    flex-wrap: wrap;
  }
  .homePageLogoClienteEFont {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .aboutSubtitle {
    font-size: var(--font-size-21xl);
  }
  .counter {
    padding-left: var(--padding-54xl);
    padding-right: var(--padding-54xl);
    box-sizing: border-box;
  }
  .text23 {
    font-size: var(--font-size-21xl);
  }
  .testimonialSubtitle {
    padding-left: var(--padding-52xl);
    padding-right: var(--padding-53xl);
    box-sizing: border-box;
  }
  .testimonials {
    padding-left: 410px;
    padding-right: 47px;
    box-sizing: border-box;
  }
  .text13 {
    font-size: var(--font-size-21xl);
  }
  .cards1 {
    gap: var(--gap-18xl);
  }
  .text3 {
    gap: var(--gap-21xl);
  }
  .footer {
    gap: var(--gap-mid);
    padding: var(--padding-20xl) var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutSubtitle {
    font-size: var(--font-size-11xl);
  }
  .serviceDetails,
  .serviceNames,
  .text1,
  .text2,
  .text21,
  .text22 {
    font-size: var(--font-size-lgi);
  }
  .exploreMais {
    font-size: var(--font-size-base);
  }
  .counter {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .testimonialTitle {
    font-size: var(--font-size-lgi);
  }
  .text23 {
    font-size: var(--font-size-11xl);
  }
  .testimonialSubtitle {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .testimonials {
    padding: 96px var(--padding-xl) 97px;
    box-sizing: border-box;
  }
  .text13 {
    font-size: var(--font-size-11xl);
  }
  .cards1 {
    gap: var(--gap-lgi);
  }
  .text3 {
    gap: var(--gap-xl);
  }
}
