.heroBackground {
  width: 100%;
  height: 109px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-black);
}
.imgIcon {
  width: 1645px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
  max-width: 115%;
  flex-shrink: 0;
}
.button:hover,
.img {
  box-sizing: border-box;
}
.img {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  max-width: 100%;
}
.servicesSubtitle,
.servicesTitle {
  position: relative;
  display: inline-block;
}
.servicesTitle {
  width: 109px;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.servicesSubtitle {
  margin: 0;
  height: 36px;
  font-size: var(--font-size-31xl);
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-white);
  flex-shrink: 0;
}
.text {
  margin: 0 !important;
  position: absolute;
  top: 70px;
  left: calc(50% - 136.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-mini);
  z-index: 1;
}
.iconScissors {
  width: 62px;
  height: 94px;
  position: relative;
}
.serviceCardTitles {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.cortesModernosE {
  margin: 0;
}
.serviceCardDescriptionsContainer {
  width: 404px;
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 122%;
  flex-shrink: 0;
}
.card1 {
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-29xl) 0 var(--padding-17xl);
  gap: var(--gap-lgi);
  max-width: 100%;
}
.iconRazor {
  width: 123px;
  flex: 1;
  max-height: 100%;
}
.iconRazor,
.text1,
.text2 {
  position: relative;
}
.text1 {
  width: 242px;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.text2 {
  align-self: stretch;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card2 {
  height: 337px;
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-21xl) var(--padding-base);
  gap: var(--gap-lgi);
  max-width: 100%;
  text-align: center;
}
.iconBeard {
  width: 91px;
  height: 79px;
  position: relative;
}
.eFortalecem {
  margin: 0;
  white-space: pre-wrap;
}
.text21 {
  width: 459px;
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 137%;
  flex-shrink: 0;
}
.card3 {
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-51xl) 0 var(--padding-39xl) 0;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.iconUstache {
  width: 107px;
  height: 31px;
  position: relative;
}
.text22 {
  align-self: stretch;
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card4 {
  width: 337px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-85xl) var(--padding-6xl) var(--padding-24xl);
  gap: var(--gap-lgi);
  max-width: 100%;
}
.cards,
.exploreMais {
  color: var(--color-white);
}
.cards {
  width: 724px;
  margin: 0 !important;
  position: absolute;
  top: 252.1px;
  left: 358px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 50px 46px;
  min-height: 724px;
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-5xl);
}
.exploreMais {
  height: 15px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
}
.button,
.services {
  justify-content: flex-start;
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  border: 2px solid var(--color-white);
  padding: var(--padding-mini) var(--padding-sm) var(--padding-mini)
    var(--padding-xl);
  background-color: transparent;
  width: 187px;
  margin: 0 !important;
  position: absolute;
  top: 1084.1px;
  left: 627px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}
.button:hover {
  background-color: var(--color-gainsboro-300);
  border: 2px solid var(--color-gainsboro-100);
}
.services {
  height: 1219px;
  flex-direction: column;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-darkgray);
  font-family: var(--font-inter);
}
.counter,
.services,
.servicesParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.counter {
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  padding: var(--padding-41xl) var(--padding-128xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  width: 100%;
  min-height: 600px;
}
.servicesParent {
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}
.testimonialSubtitle {
  position: relative;
  font-weight: 500;
}
.testimonialDescription {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.testimonialDescriptionWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  font-size: var(--font-size-31xl);
}

.testimonialsContainer {
  display: flex;
  width: 100%;
}

.leftHalf,
.rightHalf {
  flex: 1;
}

.rightHalf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.text3 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  padding: var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-smi);
  cursor: pointer;
  z-index: 0;
}



.frameParent,
.testimonials {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.testimonials {
  width: 100%;
  /* height: 380px; */ /* Remover esta linha */
  min-height: 380px; /* Opcional: define uma altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-53xl);
  box-sizing: border-box;
  position: relative;
  background-image: url(/public/testimonials@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}


.frameParent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.text13 {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cards1,
.text5 {
  display: flex;
  padding: 0;
}
.text5 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.cards1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-56xl);
}
.lineIcon,
.text4 {
  align-self: stretch;
  max-width: 100%;
}
.text4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.lineIcon {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.divider {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-5xs);
}
.copyright {
  position: relative;
  font-size: var(--font-size-mid);
}
.footer,
.homePageLogoClienteEFont {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-41xl) var(--padding-53xl);
  gap: var(--gap-16xl);
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.homePageLogoClienteEFont {
  width: 100%;
  /* height: 4580px; */
  position: relative;
  /* overflow: hidden; */
  align-items: flex-start;
  padding: var(--padding-21xl) 0 var(--padding-40xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .servicesParent {
    padding-bottom: 247px;
    box-sizing: border-box;
  }
  .cards1 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .homePageLogoClienteEFont {
    height: auto;
  }
}
@media screen and (max-width: 1125px) {
  .counter {
    flex-wrap: wrap;
  }
  .servicesParent {
    height: auto;
    padding-bottom: 161px;
    box-sizing: border-box;
  }
  .homePageLogoClienteEFont {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .servicesSubtitle {
    font-size: var(--font-size-21xl);
  }
  .counter {
    padding-left: var(--padding-54xl);
    padding-right: var(--padding-54xl);
    box-sizing: border-box;
  }
  .servicesParent {
    padding-bottom: 105px;
    box-sizing: border-box;
  }
  .testimonialDescription,
  .text13 {
    font-size: var(--font-size-21xl);
  }
  .cards1 {
    gap: var(--gap-18xl);
  }
  .text4 {
    gap: var(--gap-21xl);
  }
  .footer {
    gap: var(--gap-mid);
    padding: var(--padding-20xl) var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .servicesSubtitle {
    font-size: var(--font-size-11xl);
  }
  .serviceCardDescriptionsContainer,
  .serviceCardTitles,
  .text1,
  .text2,
  .text21,
  .text22 {
    font-size: var(--font-size-lgi);
  }
  .exploreMais {
    font-size: var(--font-size-base);
  }
  .counter {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .testimonialSubtitle {
    font-size: var(--font-size-lgi);
  }
  .testimonialDescription,
  .text13 {
    font-size: var(--font-size-11xl);
  }
  .cards1 {
    gap: var(--gap-lgi);
  }
  .text4 {
    gap: var(--gap-xl);
  }
}
