.testimonialBackground {
  height: 78px;
  width: 343px;
  position: absolute;
  margin: 0 !important;
  right: 56px;
  bottom: -39px;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  cursor: pointer;
}
.imgIcon {
  width: 410px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.card1,
.cardBackgroundIcon {
  position: absolute;
  margin: 0 !important;
}
.card1 {
  top: 80px;
  left: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url(/public/card-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.cardBackgroundIcon {
  height: 150px;
  width: 150px;
  top: 146px;
  left: 621px;
  object-fit: cover;
}
.testimonialCard,
.testimonialCard1,
.testimonialCard2 {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro-200);
  height: 47px;
  width: 1179px;
  position: absolute;
  margin: 0 !important;
  bottom: 415px;
  left: 125px;
}
.testimonialCard1,
.testimonialCard2 {
  bottom: 291px;
}
.testimonialCard2 {
  bottom: 167px;
}
.cards {
  height: 959px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  gap: 120px 0;
  max-width: 100%;
  z-index: 1;
}
.text {
  height: 20px;
  right: 95px;
  bottom: -12px;
  font-size: var(--font-size-9xl);
  cursor: pointer;
}
.text,
.text1,
.text2,
.text3,
.text4,
.text5 {
  position: absolute;
  margin: 0 !important;
  letter-spacing: 0.05em;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}
.text1 {
  height: 20px;
  top: 319px;
  left: 600px;
  font-size: var(--font-size-9xl);
}
.text2,
.text3,
.text4,
.text5 {
  height: 17px;
  left: 125px;
}
.text2 {
  top: 469px;
}
.text3,
.text4,
.text5 {
  bottom: 351px;
}
.text4,
.text5 {
  bottom: 229px;
}
.text5 {
  bottom: 107px;
}
.testimonialContent,
.testimonials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.testimonialContent {
  flex: 1;
  position: relative;
}
.testimonials {
  align-self: stretch;
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  padding: var(--padding-65xl) 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1300px) {
  .testimonials {
    padding-top: var(--padding-36xl);
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .testimonials {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .text,
  .text1 {
    font-size: var(--font-size-3xl);
  }
  .text2,
  .text3,
  .text4,
  .text5 {
    font-size: var(--font-size-lgi);
  }
}
